@media only screen and (max-width: 1200px){}


body {
    background-image: url("../Images/knitted-netting.png");
    margin: 0 auto;
    
}

header {
    overflow: hidden;
    height: 70px;
    background-color: #ffffff;
    border-bottom: 5px solid #3e0ce3;
    width: 100%; 
    Margin: 0px auto;
    position: relative;
}
header h1 {
    border: 3px solid #e89f0c;
    background-color: #4aaaa5;
    text-align: center;
    position: absolute;
    top: 0px;
    Left: 20%;
    Margin: 0 auto;
    width: 200px;
    height: 64px;
}

nav {
    float: right;
    width:34%;
}
nav li {
    padding: 10px 10px; 
    text-align: center;
    display:inline-block;
}
nav li:hover {
    Background: #e89f0c;
}
.box1 {
    background-color:#ffffff;
    Border: 3px solid #3e0ce3;
    width: 960px;
    height: 400px;
    padding: 10px;
    position: relative;
    Margin-top:20px;
    Top: 25%;
    Left: 20%;
}
h2 {
    color:#4aaaa5;
    font-weight: solid;
    font-size: 40px;
    border-bottom: 5px solid #3e0ce3;
    padding-bottom: 5px;
    Margin-top:15px;
}
/* couldnt figure out how to scroll when on a smaller screen*/
.box2 {
    background-color:#ffffff;
    Border: 3px solid #3e0ce3;
    width: 960px;
    height: 600px;
    padding: 10px;
    position: relative;
    Margin-top: 20px;
    Top: 15%;
    Left: 20%;
    
}
.img-container {
    float: left;
    width: 25%; 
    padding: 5px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}


.container {


    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/* couldnt figure out why the footer keeps moving up the page on a smaller screen and why it wont stick to the bottom of the page.*/
#sticky {
    width: 100%;
    border-top: 5px solid #3e0ce3;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;   
    text-align: center;
    font-weight:bold;
    font-size:24px;
    Margin-top: 20px;
    
    
     
    
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
}
img {
    Float:left;
    Height: 200px;
    width: 200px;
    padding: 5px;
}



