body {
    background-color: #ffffff;
    border-color:#dddddd;
    margin: 0 auto;
    
    
}
h2 {
    color:#4aaaa5;
    font-weight: solid;
    font-size: 40px;

}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.header {
    background-color: #ffffff;
    border-bottom: 5px solid #cccccc;
  
}



.about{
    border: 1px solid blue;
    float: right;
    margin: 10px;
    padding: 5px;
    position: relative;
    bottom: 70px;
    left: -700px;
     
    
}

.about:hover {
    Background: #C0D6DF;
    Color: green;
}
.badge {
    Background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #cccccc;
    margin: 30px 400px 0px;
    padding: 10px;
    height: 55px;
    width: 200px;
    Text-align: center;

}

img {
    Height: 200px;
    width: 200px;
}

.box {
    background-color:#ffffff;
    Border: 3px solid #cccccc;
    Padding: 20px 15px;
    Margin: 30px 400px;
    Height: 395px;
    width: 757px;
    
    
}
.box2 {
    background-color:#ffffff;
    Border: 3px solid #cccccc;
    Padding: 20px 15px;
    Margin: 30px 400px;
    Height: 375px;
    width: 598px;

}

.box3 {
    background-color:#ffffff;
    Border: 3px solid #cccccc;
    Padding: 20px 15px;
    Margin: 30px 400px;
    Height: 583px;
    width: 599px;
}



footer {
    
    border-top: 5px solid #4aaaa5;
    background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
   
    text-align: center;
}

